absl-py==1.4.0
aggdraw==1.3.15
alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
appnope==0.1.0
arabic-reshaper==2.1.1
argon2-cffi==21.1.0
astor==0.8.1
astunparse==1.6.3
attrs==21.2.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.4
branca==0.4.1
cachetools==4.2.4
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
configparser==5.0.2
contextlib2==0.6.0.post1
crayons==0.4.0
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
docker==5.0.3
docker-pycreds==0.4.0
docutils==0.18.1
dukpy==0.2.3
egi-pynetstation==0.0.0rc1
entrypoints==0.3
esbonio==0.13.0
esprima==4.0.1
et-xmlfile==1.0.1
ffpyplayer==4.5.0
flatbuffers==23.1.4
folium==0.11.0
freetype-py==2.2.0
future==0.18.2
gast==0.4.0
gevent==21.1.2
gitdb==4.0.5
GitPython==3.1.12
glfw==2.0.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.51.1
h5py==3.7.0
html2text==2020.1.16
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
imagesize==1.3.0
importlib-metadata==4.11.4
ipykernel==5.5.3
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
javascripthon==0.11
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
joblib==1.1.0
json-tricks==3.15.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaleido==0.2.1
keras==2.11.0
kiwisolver==1.3.1
libclang==15.0.6.1
llvmlite==0.37.0
macropy3==1.1.0b2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-scalebar==0.7.2
mdurl==0.1.2
mistune==0.8.4
ml-collections==0.1.0
moviepy==1.0.3
msgpack==1.0.2
msgpack-numpy==0.4.7.1
nbclient==0.5.5
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nibabel==3.1.1
nilearn==0.8.1
notebook==6.4.5
ntplib==0.4.0
numba==0.54.1
numexpr==2.7.2
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.5.1.48
openpyxl==3.0.6
opt-einsum==3.3.0
orca==1.6
packaging==20.4
palettable==3.3.0
pandas==1.3.4
pandocfilters==1.5.0
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
playsound==1.3.0
plotly==5.10.0
pooch==1.6.0
proglog==0.1.9
prometheus-client==0.12.0
prompt-toolkit==3.0.7
protobuf==4.21.12
psutil==5.8.0
PsychoPy==2023.1.3
psychtoolbox==3.0.19.0
ptyprocess==0.6.0
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.1
pydicom==2.3.1
pydub==0.25.1
pyglet==1.5.27
pygls==0.11.3
Pygments==2.7.0
Pympler==0.9
pynndescent==0.5.5
pyobjc==7.3
pyobjc-core==7.1
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.1
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyosf==1.0.5
pyparsing==2.4.7
pypi-search==1.2.1
PyQt5==5.15.0
PyQt5-sip==4.19.24
pyrsistent==0.17.3
pyserial==3.5
pyspellchecker==0.6.3
python-bidi==0.4.2
python-dateutil==2.8.1
python-gitlab==2.6.0
python-vlc==3.0.18122
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.2
qtconsole==5.2.0
QtPy==1.11.2
questplus==2019.4
requests==2.24.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.9
scikit-image==0.18.1
scikit-learn==1.0.1
scipy==1.6.0
seaborn==0.11.1
seaborn-image==0.5.0
selenium==3.141.0
Send2Trash==1.8.0
sentry-sdk==1.13.0
setproctitle==1.3.2
six==1.15.0
smmap==3.0.5
snowballstemmer==2.2.0
sounddevice==0.4.1
soundfile==0.12.1
soupsieve==2.4.1
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder-kernels==2.0.1
streamlit==1.2.0
streamlit-drawable-canvas==0.8.0
tables==3.6.1
TBB==0.1
tenacity==8.1.0
tensorboard==2.11.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.2.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.4.8
tobii-research==1.10.1
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.56.0
traitlets==5.0.4
typeguard==2.13.3
typing-extensions==4.2.0
tzdata==2021.5
tzlocal==4.1
ujson==5.7.0
umap-learn==0.5.2
urllib3==1.25.10
validators==0.18.2
wandb==0.13.9
watchdog==2.1.6
wcwidth==0.2.5
webdriver-manager==3.4.0
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==2.2.2
widgetsnbextension==3.5.2
wrapt==1.14.1
wurlitzer==2.1.0
wxPython==4.1.1
xarray==0.16.2
xlrd==2.0.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.2.0
